.container-bpopup {

  position: relative;
  overflow: hidden;
  height:100px;

  margin: auto;
  background-color: none;
  text-align: center;
  border-radius: 5px;
}
.btn {
  font-family: inherit;
  font-size: 18px;
  width: 120px;
  margin-top: 30px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  border: none;
  border-radius: inherit;
  background-color: #2EC4B6;
  color: white;
  transform: scale(1);
  transition: transform ease-in .1s;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  transform: scale(1.2);
}
.error-msg {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  background-color: rgba(10, 30, 66, 0.9);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border: 1px solid #011627;
  border-bottom: none;
  position: absolute;
  bottom: 0;
  /* margin-right: 10px; */
  /* margin-left: 10px; */
  height: 75px;
  width: 100%;
  text-align: center;
  padding: 10px;
}